{% extends 'base.html' %}

{% block content %}

<h2>Dashboard</h2>

<div class="dashboard-container">

    <div class="card">
        <h3>📦 Products</h3>
        <p>Manage all products</p>
    </div>

    <div class="card">
        <h3>🏢 Warehouse</h3>
        <p>Track warehouse details</p>
    </div>

    <div class="card">
        <h3>📊 Inventory</h3>
        <p>Monitor stock levels</p>
    </div>

    <div class="card">
        <h3>🚚 Suppliers</h3>
        <p>Manage suppliers</p>
    </div>

    <div class="card">
        <h3>🛒 Purchase</h3>
        <p>Add stock to inventory</p>
    </div>

    <div class="card">
        <h3>💰 Sales</h3>
        <p>Generate bill & reduce stock</p>
    </div>

</div>

{% endblock %}
